AVDOMAIN="example.com"
AVUSER="admin@example.com"
CREATEADMIN="admin@example.com"
CREATEDOMAIN="example.com"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
EXPANDMENU="no"
HOSTNAME="zimbra.example.com"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPBESSEARCHSET="set"
LDAPHOST="zimbra.example.com"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="256"
MAILPROXY="TRUE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="yes"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="info@example.com"
SMTPHOST="zimbra.example.com"
SMTPNOTIFY="yes"
SMTPSOURCE="info@example.com"
SNMPNOTIFY="yes"
SNMPTRAPHOST="example.com"
SPELLURL="http://zimbra.local:7780/aspell.php"
STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"
SYSTEMMEMORY="1.0"
TRAINSAHAM="ham.wovy5mqk@example.com"
TRAINSASPAM="spam.jxpijaqd@example.com"
UIWEBAPPS="yes"
UPGRADE="no"
USEEPHEMERALSTORE="no"
USESPELL="yes"
USE_ZIMBRA_PACKAGE_SERVER="yes"
VERSIONUPDATECHECKS="FALSE"
VIRUSQUARANTINE="virus-quarantine.onyq1mop@example.com"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="z7lQDL0x"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="z7lQDL0x"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="z7lQDL0x"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDNSMasterIP="10.42.42.42"
zimbraDNSTCPUpstream="no"
zimbraDNSUseTCP="yes"
zimbraDNSUseUDP="yes"
zimbraFeatureBriefcasesEnabled="Disabled"
zimbraFeatureTasksEnabled="Disabled"
zimbraIPMode="ipv4"
zimbraMailProxy="FALSE"
zimbraMtaMyNetworks="127.0.0.0/8 10.0.2.0/24 [::1]/128 [fe80::]/64"
zimbraPrefTimeZoneId="Europe/Helsinki"
zimbraReverseProxyLookupTarget="TRUE"
zimbraVersionCheckNotificationEmail="info@example.com"
zimbraVersionCheckNotificationEmailFrom="info@example.com"
zimbraVersionCheckSendNotifications="TRUE"
zimbraWebProxy="FALSE"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-logger zimbra-mta zimbra-dnscache zimbra-snmp zimbra-store zimbra-apache zimbra-spell zimbra-memcached zimbra-proxy zimbra-drive"

